<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <general>
    <isMonitorEnabled>true</isMonitorEnabled>
    <isRoutingEnabled>false</isRoutingEnabled>
    <isUcidEnabled>false</isUcidEnabled>
    <UseExtAppToWrite>true</UseExtAppToWrite>
    <path>C:\Users\Salman\Source\Repos\Avaya-Integration\AvayaVirtualQueueConnector\WriteVar\bin\Debug\</path>
    <wdelay>200</wdelay>
    <params>200</params>
  </general>
  <aesserver>
    <ipaddress>10.1.0.133</ipaddress>
    <unsecureport>4721</unsecureport>
    <username>avaya</username>
    <password>avayapassword</password>
    <switchname>CM</switchname>
    <switchIpInterface>10.1.0.113</switchIpInterface>
    <aesprotocolversion>6.3.3</aesprotocolversion>
    <sessioncleanupdelay>60</sessioncleanupdelay>
    <sessionduration>300</sessionduration>
  </aesserver> 
  <vdns>
    <vdn>
      <normalvdn>9850</normalvdn>
      <highvdn>9889</highvdn>
      <skill>1</skill>
      <splitExten>6999</splitExten>     
      <lineID>3069</lineID>
      <lineGroup>212</lineGroup>
      <IsActiveVar>S</IsActiveVar>
    </vdn>
  </vdns>
  <CM>
    <ip>10.1.0.113</ip>
    <user>dadmin</user>
    <password>dadmin01</password>
    <pin>Summer09!</pin>
    <delay>30</delay>
  </CM>
  <virtualqconfiguration>
    <apikey>DSH2XzCCAeu44MhT29xj</apikey>
    <apibaseaddress>https://api.virtualq.io</apibaseaddress>
    <enabled>true</enabled>
    <proxyadd>NA</proxyadd>
    <proxyport>0</proxyport>
    <proxyuser></proxyuser>
    <proxypass></proxypass>
  </virtualqconfiguration>  
</configuration>